.display-infor-container {
  .green {
    color: green;
    // background-color: #d4edda;
    // padding: 10px;
    // margin-bottom: 10px;
  }

  .red {
    color: pink;
    // background-color: #f8d7da;

    // padding: 10px;
    // margin-bottom: 10px;
  }
  img {
    width: 400px;
    height: 400px;
  }
}
