.display-infor-container {
  .green {
  background-color: #d4edda;
  color: #155724;
  padding: 10px;
  margin-bottom: 10px;
}

.red {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  margin-bottom: 10px;
}
}

