body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  .header-container {
    .btn-login {
      border-radius: 5px;
      margin-right: 10px;
      padding: 0px 15px;
      border: 1px solid #535353;
    }
    .btn-signup {
      border-radius: 5px;
      padding: 0px 15px;
      background-color: #303030;
      color: white;
    }
    .navbar {
      padding-top: 20px;
      z-index: 10;
      background-color: rgba(0, 0, 0, 0) !important;
      .nav-link {
        &.active {
          color: #00bfff;
        }
      }
    }
  }
}

video {
  position: fixed;
  bottom: 0;
  width: 100vw;
}
