.login-container {
  .header {
    height: 45px;
    text-align: right;
    padding: 5px 100px 0 100px;

    button {
      padding: 3px 15px;
      margin-left: 15px;
      border-radius: 5px;
      background: white;
      border: 1px solid;
    }
  }

  .title {
    font-size: 25px;
    padding: 20px 0;
    text-align: center;
  }

  .welcome {
    font-size: 20px;
    padding: 20px 0;
    text-align: center;
  }

  .content-form {
    input {
      margin-bottom: 15px;
      margin-top: 3px;
    }

    button {
      width: 100%;
      height: 40px;
      border: none;
      border-radius: 20px 0;
      margin: 20px 0;
      color: white;
      background-color: black;
    }
  }
}
